@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Orbitron:wght@400;500;600&display=swap");
/* font-family: 'Lato', sans-serif;
font-family: 'Orbitron', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #2c2c2c;
}

main {
  width: 100%;
  height: 92vh;
  background-color: #2c2c2c;
  margin-top: 20px;
  
}

.first{
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: space-evenly;
}



.container1 {
  width: 490px;
  height: 100px;
  text-align: center;
}

.box1 {
  width: 490px;
  height: 490px;
  border: 5px solid #97f5bb;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 {
  width: 415px;
  height: 415px;
  background-color:#000;
  border-radius: 30px;
  text-align: center;
}

.box2 > h2 {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 37px;
  color: #fff;
  position: relative;
  top: 26.6rem;
  background-color: #2c2c2c;
  margin: 0 8.5rem 0 8.5rem;
}

.box2 > h3 {
  font-family: "Orbitron";
  font-style: normal; 
  font-weight: 400;
  font-size: 150px;
  line-height: 188px;
  padding-top: 3.8rem;
  color: #fdf860;
}

.boks1 > button {
  width: 105px;
  height: 105px;
  background: #97f5bb;
  border-radius: 20px;
  margin: 100px 15px 0 15px;
}

.boks1>button:hover{
  box-shadow: 0 0 10px #fff;
cursor: pointer;
}

.boks1>button>span{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 44px;
text-align: center;
color: #FFFFFF;
}



/* ============== */


.container2 {
  width: 490px;
  height: 100px;
  text-align: center;
}

.qutu {
  width: 490px;
  height: 490px;
  border: 5px solid #525DF4;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qutu1 {
  width: 415px;
  height: 415px;
  background-color: #000;
  border-radius: 30px;
  text-align: center;
}

.qutu1 > h2 {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 37px;
  color: #fff;
  position: relative;
  top: 26.6rem;
  background-color: #2c2c2c;
  margin: 0 8.5rem 0 8.5rem;
}

.qutu1> h3 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 188px;
  padding-top: 3.8rem;
  color: #fdf860;
}

.boks2>button {
  width: 105px;
  height: 105px;
  background: #525DF4;
  border-radius: 20px;
  margin: 100px 15px 0 15px;
  border-radius: 20px;
}

.boks2>button:hover{
  box-shadow: 0 0 10px #fff;
cursor: pointer;
}

.boks2>button>span{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  }
  

/* ============== */

.second{
  text-align: center;
  background-color: #2c2c2c;
}
.art{
  padding: 0px 0 20px 0;


}

.art>span{
  display: inline-block;
  width: 122px;
  height: 35px;
  border-radius: 10px;
  background: #FFFFFF;
  padding-top: 6px;
  font-size: 20px;

}
.art>span:hover{
  box-shadow: 0 0 10px #fff;
  cursor: pointer;
}
.art>button{
  width: 100px;
  height: 50px;
  font-size: 20px;
  display: block;
  margin: 20px auto 0 auto;
  border-radius: 10px;
  border: 1px solid #fff;
  
}

.art>button:hover{
box-shadow: 0 0 10px #fff;
cursor: pointer;
}